body {
    margin: 0;
    height: 100vh;
    color : #FFA500;
    font-family : monospace;
    line-height: 0.5;
}

canvas {
    display: block;
}

#loadingtext {
    color: blue;

}

#startButton{
    background-color: rgb(0, 0, 0); /* Green */
    border: none;
    color:  #FFA500;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family : monospace;

}

